<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Home</ion-title>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment color="tertiary" value="recursos">

    <ion-segment-button value="recursos" layout="icon-start" [routerLink]="['/publicaciones']" routerDirection="root">
      <ion-icon name="newspaper-outline" size="large"></ion-icon> <ion-label>Publicaciones Generales</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="actividades" layout="icon-start" [routerLink]="['/cursos']" routerDirection="root">
      <ion-icon name="library-outline" size="large"></ion-icon> <ion-label>Cursos</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>
