<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Perfil</ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="{{user.FotoPerfil}}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{user.Nombre}} {{user.Apellido}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>{{user.Correo}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
<style>
  ion-img {     
    width: 50%;
    height: 25%;
    margin: auto;
    display: block;
  }
</style>