<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>Cursos</ion-title>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>



  <ng-container *ngFor="let curso of cursos">

    <ng-container *ngFor="let ayudantia of ayudantias">



      <ion-item *ngIf="ayudantia.Materia!=curso.id" style="padding: 2.5px;" [routerLink]="['/curso-detalle',curso.id, curso.Nombre]" >

        <ion-thumbnail slot="start" slot="start">
          <img src="{{curso.Imagen}}" alet="foto">
        </ion-thumbnail>
        <ion-card-title ><label style="font-size: 17.2px; font-weight: bold; ">{{curso.Nombre}}</label></ion-card-title>

        <ion-icon slot="end" name="person-add-outline" (click)="crearAyudantia(curso.id)"></ion-icon>
      </ion-item>
  

    </ng-container>
  </ng-container>

  

</ion-content>
