<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
      <ion-title>{{nombreCurso}}</ion-title>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment color="tertiary" value="ayudantes">

    <ion-segment-button value="anuncios" layout="icon-start" [routerLink]="['/curso-detalle',id, nombreCurso]" routerDirection="root">
      <ion-icon name="megaphone-outline" size="large"></ion-icon> <ion-label>Anuncios</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="ayudantes" layout="icon-start"  [routerLink]="['/curso-ayudantes',id, nombreCurso]" routerDirection="root">
      <ion-icon name="people-outline" size="large"></ion-icon> <ion-label>Ayudantes</ion-label>
    </ion-segment-button>

   
  </ion-segment>


  <ion-list *ngIf="!getDatos()">
    <ng-container *ngFor="let ayudante of ayudantes">
    <ng-container *ngIf="ayudante.Materia == id">
    <ng-container *ngFor="let usuario of usuarios">
      
      <ion-item *ngIf="usuario.id == ayudante.Usuario" [routerLink]="['/usuario-detalle',usuario.id]">

        <ion-thumbnail slot="start" slot="start">
          <img src="{{usuario.FotoPerfil}}" alet="foto">
        </ion-thumbnail>
        <ion-card-title>{{usuario.Nombre}}
          {{usuario.Apellido}}</ion-card-title>
        
      </ion-item>
    
    </ng-container>
    </ng-container>
    </ng-container>


  </ion-list>

  <ng-container *ngIf="getDatos()">
    <br><br><br><br><br><br>
    <div class="ion-text-center">
      <ion-text color="medium">

        <img src="https://plantillasdememes.com/img/plantillas/maldicion31565656254.png" style="width: 55%; height:72%;" alet="foto">
        
        <p style="font-size: 25px;">No hay ayudantes registrados.</p>
      </ion-text>  
    </div>
  </ng-container>


</ion-content>
