<ion-header >
  <ion-toolbar>

    <ion-segment color="tertiary" value="publicaciones" >


      <ion-segment-button value="publicaciones" [routerLink]="['/publicaciones']" routerDirection="root">
        <ion-icon name="newspaper-outline" size="large"></ion-icon> 
        <ion-label style="font-size: 14;">Publicaciones</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="cursos" [routerLink]="['/cursos']" routerDirection="root">
        <ion-icon name="library-outline" size="large"></ion-icon> <ion-label style="font-size: 14px;">Cursos</ion-label>
      </ion-segment-button>
    
    
      <ion-segment-button value="perfil" [routerLink]="['/perfil']" routerDirection="root">
        <ion-icon name="person-circle-outline" size="large"></ion-icon> <ion-label style="font-size: 12px;">Perfil</ion-label>
      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content>


  <ion-card *ngFor="let publicacion of publicaciones" scrollable class = "item">
    <ion-item>


      <ion-card-title>{{publicacion.Titulo}}</ion-card-title>
    </ion-item>
  

  </ion-card>

  

</ion-content>
